button{
    background-color: black;
    color: blanchedalmond;
}  
body{
    background: url(https://thumbs.dreamstime.com/b/my-design-colorful-wallpaper-i-hope-you-like-title-colorful-art-bright-colors-abstract-modern-shape-173663889.jpg);    
}
  